header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6rem;
    .logo {    
         width: 10%;
    }
    .nav__bar {
        display: flex;
        &-text {
            margin-left: 2rem;
        }
    }
}